.vscode
neat-examples
profs_reference
*.code-workspace
.markdownlint.json
video_report.mp4
__pycache__/


# neat-examples/
# tests/
# resources/
# sample-reference-agents/bk2/
# .vscode/
# *.code-workspace
# *.pkl
#*.bk2