.vscode
neat-examples
resources
profs_reference
*.code-workspace
.markdownlint.json

# neat-examples/
# tests/
# __pycache__/
# resources/
# sample-reference-agents/bk2/
# .vscode/
# *.code-workspace
# *.pkl
#*.bk2