[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gym-retro = "*"

[dev-packages]

[requires]
python_version = "3.8"

[scripts]
main = "python -u super-intelligent-mario"
render = "python -u scripts/render.py"